@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}

.chat-content {
    height: 450px;
    overflow-y: scroll;
    padding: 10px;
}

.chat-content li {
    margin-top: 10px;
    list-style: none;
}

.text-small {
    font-size: 12px;
    color: gray;
    margin-bottom: 0;
}

.chat-box {
    background: #eee;
    padding: 5px;
    border-radius: 5px;
    float: left;
}

.mine {
    float: right;
}